* {
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}

body {
  width: 100%;
  max-width: 1440px;
  background-image: url(https://media.licdn.com/dms/image/C4D0BAQH_lduxTz2Z1Q/company-logo_200_200/0/1617800055787?e=2147483647&v=beta&t=JpqVxixIV1f7Y4M4JRBKoH_9ZvWAgc9SYo6n9wXcMZo);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#header {
  background: white;
  padding: 20px 0;
  width: 1920px;
}
.header a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.42px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  position: sticky;
}
.classcamp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}
.header-sign {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.signin a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.42px;
  margin-left: 20px;
}
.signin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 550px;
  margin-top: 100px;
  background-color: rgba(117, 91, 97, 0.678);
  width: 550px;
  height: 600px;
  border-radius: 5px;
}
.signin h1 {
  font-size: 30px;
  color: white;
  font-family: cursive;
  padding: 0 0 40px 0;
}
.signin input {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;
}
.input1 {
  margin: 0 0 10px 0;
}
.signin button {
  width: 350px;
  height: 45px;
  border-radius: 5px;
  margin-top: 30px;
  background: rgb(64, 47, 211);
  color: white;
  cursor: pointer;
}
.signin p {
  padding-top: 20px;
  color: rgb(209, 207, 207);
}
